{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block head %}
<h1 class="mt-2">Artistas</h1>
<div class="container">
    <div class="row">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Tipo</th>
                <th scope="col">Quantidade de músicas</th>
                <th scope="col">Ano do primeiro lançamento</th>
                <th scope="col">Foto do perfil</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tfoot>
                {% for artista in artistas %}
            <tr>
                <td>{{ artista.nome }}</td>
                <td>{{ artista.tipo_de_música }}</td>
                <td>{{ artista.quantidade_de_músicas_lançadas }}</td>
                <td>{{ artista.ano_do_primeiro_lançamento }}</td>
                <td><img src="{{ artista.foto }}" height="100"/></td>      
                <td><a class="btn btn-primary" href="{% url 'update_artista' artista.id %}">Editar</a>
                <a class="btn btn-secondary" href="{% url 'list_musica' artista.id %}">Ver músicas</a></td>
            </tr>
            {% endfor %}
            </tfoot>
        </table>
            <a class="btn btn-success" href="{% url 'create_artista' %}">Criar novo artista</a>
            <a class="btn btn-dark" href=musica.html>Ver todas as músicas</a>
        {% endblock %}

