{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
      <form method="POST" novalidate>
        {% csrf_token %}
        <div class="form-group">
          {{ form.nome |as_crispy_field }}
        </div>
          <div class="form-group">
            {{ form.tipo_de_musica |as_crispy_field }}
          </div>
          <div class="form-group">
            {{ form.quantidade_de_músicas_lancadas |as_crispy_field  }}
          </div>
          <div class="form-group">
            {{ form.ano_do_primeiro_lancamento |as_crispy_field  }}
          </div>
          <div class="form-group">
            {{ form.foto |as_crispy_field }}
          </div>
          <button type="submit" class="btn btn-success">Salvar</button>
            {% if artista %}
                 <a href="{% url 'delete_artista' artista.id %}" class="btn btn-danger">Excluir</a>
            {% endif %}
          <a class="btn btn-light" href="{% url 'list_artista' %}">Cancelar</a>
      </form>
{% endblock %}